@keyframes skeleton-fade {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.skeleton-loader {
    animation: skeleton-fade 2s ease-in-out infinite;
    background-color: #f4f4f4;
    background-image: linear-gradient(90deg, #f4f4f4, #e5e5e5, #f4f4f4);
    background-size: 200px 100%;
    background-repeat: no-repeat;
}